<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					About Us				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'About Us', about_us_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap info-area about-area" id="about">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Few words about our Federation</h1>
					<p>Lets Play Gutka</p>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
				<div class="info-thumb">
					<img src="/assets/g3.jpg" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 no-padding info-rigth">
				<div class="info-content">
					<h2 class="pb-30">Few words about our Federation</h2>
					<p>
						Gatka is commonly referred to as an India Martial art. Specifically Gatka refers to the martial art used by the of northern India. Actually Gatka is the name of a stick used to practice sword fighting. The word Gatka is a slang expression coined in the nineteen hundreds to describe a number of stick, staff and sword styles made for use in public demonstration. Much of the Gatka forms practiced today are Europeanized versions of segments of what was the original martial art of India known as Shastar Vidyaa.									
					</p>
					</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area -->