<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Advertise With Us
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Advertise With Us', advertise_with_us_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->	

<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Advertise With Us</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div class="map-wrap" style="width:100%; height: 445px;" id="map"></div> -->
			<div class="col-lg-12">
				<div class="aboutBotContent">
					<p>ADVERTISE AT WWW.GATKUSA.ORG/WORLDGATKAFEDERATION.COM AT A VERY LESS COSTS The different rates for advertisement on various pages are as below: (Please convert currency as per your need.)</p>
					<ul class="infoListAlpha infoListAlphaNW">
						<li><b>Full Banner on Top and Bottom of a Page (468 by 60)</b> -Rates on month basis
							<ul class="infoListAlphaInn">
								<li>Main Pages of Each Section : <b>Rs 4500</b></li>
								<li>On Popular Pages In Each Section : <b>Rs 3000</b></li>
								<li>On any new Page In Each Section : <b>Rs 2000</b></li>
							</ul>
						</li>
						<li><b>Half Banner on Top and Bottom of a Page (300 by 48)</b> -Rates on month basis 
							<ul class="infoListAlphaInn">
								<li>Main Pages of Each Section : <b>Rs 3500</b></li>
								<li>On Popular Pages in Each Section : <b>Rs 2500</b></li>
								<li>On any New Page in Each Section : <b>Rs 2000</b></li>
							</ul>
						</li>
						<li><b>Full Month Marquee and Tickers on Top and Bottom of a Page</b> -Rates on month basis 
							<ul class="infoListAlphaInn">
								<li>Main Pages of Each Section : <b>Rs 1000</b></li>
								<li>On Popular Pages in Each Section : <b>Rs 750</b></li>
								<li>On any New Page in Each Section : <b>Rs 600</b></li>
							</ul>
						</li>
						<li><b>Pop up Windows with Advertisements Displayed</b> -Rates on month basis 
							<ul class="infoListAlphaInn">
								<li>Main Pages of Each Section : <b>Rs 1000</b></li>
								<li>On Popular Pages in Each Section : <b>Rs 750</b></li>
								<li>On any New Page in Each Section : <b>Rs 600</b></li>
							</ul>
						</li>
					</ul>
					<p>For Advertising Please Use Our Contact US mail id</p>
					<div class="alert alert-info advertiseNote">
						Note : If you are looking for a cheap advertising solution than you can also advertise your product on yearly basis on this dynamic website for which a commitment form has to be signed by the concerned advertiser or their authorized signatory.												
					</div>
				</div>
			</div>			
		</div>
	</div>	
</section>

<section class="contact-page section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Gatka Promoters</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="aboutBotContent aboutBotContentNW">
					<p>With a motive to revive and promote traditional martial art Gatka as sport in the country the Gatka Federation of India (GFI) was constituted in a meeting in which known Sikh Saints, Heads of Nihang-Singh organisations, Gatka players and Gatka sympathizers were also present who unanimously elected S. Harcharan Singh Bhullar as President and S. Harjeet Singh Grewal as General Secretary of the GFI.</p>

					<p>The Gatka Federation now a registered sports body, is affiliated with World Gatka Federation envisions in promoting, popularizing and standardizing the martial art Gatka as a game similar to other games at National level. GFI’s selfless and dedicated motive is to awake the masses about this ancient martial art, otherwise, it might happen that the next generation will totally be unaware of Gatka. It’s a humble effort to revive a forgotten and dying traditional martial art having a historical significance.</p>

					<p>The following personalities are associated with this sports organisation as officials namely :<br>
					<b>President</b> - S. Harcharan Singh Bhullar, IPS, Punjab, India
					<b>General Secretary</b> - Dr. Deep Singh, New York, USA
					<b>Finance Secretary</b> - Dr. S.P. Singh Oberoi, Dubai
					</p>

					<p>The Gatka Federation USA (GFUSA)World Gatka Federation (WGF) cordially invites all Gatka players, sympathizers and supporters to all assist this historical martial game by joining/sponsoring/helping in furtherance of selfless pious cause. This game will certainly help to keep away the youngsters from the menace of intoxicants & narcotics and encourage them to revert to our strong traditional values.<br>
					Let come forward.
					</p>
					<p>
						Regards,<br>
						Dr. Deep Singh,<br>
						General Secretary,<br>
						email : worldgatkafederation@gmail.com, gatkafederationusa@gmail.com,<br>
						Contact: or dial + 917 257 1706, +917 291 3445
					</p>
				</div>
			</div>
		</div>
	</div>	
</section>
	<!-- End contact-page Area -->