<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Age Groups & Events				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Activity', "#" %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Age Groups & Events', activity_categories_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Age Groups & Events</h1>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-md-12">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<p>There are three events in one age group namely Single Soti, Fari-Soti and Weapon demonstrations. Each event is played as individually and team event. Hence there becomes six events in some age groups. As sub-junior players are under 14 years, that is why the Federation has allowed only four events i.e. Single Soti (Individual), Farri-Soti (Individual) and Weapon demonstrations in individual & team event only. Whereas above Junior level, there are six events in all age groups which are as follows :-</p>

					<div class="aboutBotContent">
						<h4 class="mb-15">AGE GROUPS</h4>
						<p>In all types of Gatka tournaments there are six age groups having six events i.e :</p>
						<ul class="infoListNumber">
							<li><b>Sub-Junior</b> : Under 14,</li>
							<li><b>Junior</b> : Under 17,</li>
							<li><b>Senior</b> : Under 19, Under 22, Under 25, Under 28</li>
							<li><b>Veteran</b> : Above 40 : Under 45, Under 55, Under 65, Under 75</li>
						</ul>
					</div>
					<div class="aboutBotContent">
						<h4 class="mb-15">GATKA EVENTS IN A TOURNAMENT</h4>
						<ul class="infoListNumber">
							<li><b>Single Soti (Individual)</b> -one to one fight</li>
							<li><b>Single Soti (team event)</b> -3 players plays & one extra</li>
							<li><b>Farri-Soti (Individual)</b> - one to one fight</li>
							<li><b>Farri-Soti (team event)</b> - 3 players plays & one extra</li>
							<li><b>Weapon demonstrations (Individual)</b> -one player displays his skills</li>
							<li><b>Wea monstrations (team event)</b> -Three to Five players team displays skills</li>
						</ul>
					</div>
					<div class="aboutBotContent">
						<h4 class="mb-15">NUMBER OF MEDALS IN THE TOURNAMENTS</h4>
						<ul class="infoListNumber">
							<li><b>Sub-Junior (men & women)</b> : (medals 48 i.e 16 gold, 16 silver & 16 bronze)</li>
							<li><b>Junior (men & women)</b> : (medals 96 i.e 32 gold, 32 silver & 32 bronze)</li>
							<li><b>Seniors (men & women)</b> : (medals 384 i.e 128 gold, 128 silver & 128 bronze)</li>
							<li><b>Veteran (men & women)</b> : (medals 384 i.e 128 gold, 128 silver & 128 bronze)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-gap about-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Gatka Events, Categories & Number of Medals</h1>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-md-12">
				<div class="aboutBotContent">
					<!-- <h4 class="mb-15">DETAILS OF GATKA EVENTS, CATEGORIES & NUMBER OF MEDALS</h4> -->
					<ul class="infoListAlpha">
						<li><b>Sub-Junior (boys & girls)</b> : (medals 48 i.e 16 gold, 16 silver & 16 bronze)
							<ul class="infoListAlphaInn">
								<li><b>Single Soti (Individual)</b> -one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Farri-Soti (Individual)</b> - one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (Individual)</b> -one player displays his skills
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (team event)</b> -Three to Five players
									<p>(Medals : Nine/Fifteen i.e 3/5 Gold, 3/5 Silver & 3/5 Bronze)</p>
								</li>
							</ul>
							<p>Total Number of medals in a sub-junior tournament are 48, medals i.e 16 gold, 16 silver & 16 bronze. (In boys category total 24 medals, i.e 8 Gold, 8 Silver & 8 Bronze and in girls category there are also 24 medals, i.e 8 Gold, 8 silver & 8 Bronze)</p>
						</li>
						<li><b>Junior U-17 (boys & girls)</b> :
							<ul class="infoListAlphaInn">
								<li><b>Single Soti (Individual)</b> -one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Single Soti (team event)</b> -3 players plays & one extra
									<p>(Medals : Twelve i.e 4 Gold, 4 Silver & 4 Bronze)</p>
								</li>
								<li><b>Farri-Soti (Individual)</b> - one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Farri-Soti (team event)</b> - 3 players plays & one extra
									<p>(Medals : Twelve i.e 4 Gold, 4 Silver & 4 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (Individual)</b> -one player displays his skills
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (team event)</b> -Three to Five players
									<p>(Medals : Nine/Fifteen i.e 3/5 Gold, 3/5 Silver & 3/5 Bronze)</p>
								</li>
							</ul>
							<p>In Junior age group of boys & girls in six events, the total number of medals would be 96, i.e 32 gold, 32 silver & 32 bronze. It means in boys group, the total number of medals count is 48, i.e 16 gold, 16 silver & 16 bronze & in the women group the total number of medals would be 48, i.e 16 gold, 16 silver & 16 bronze.</p>
						</li>
						<li><b>Senior (men & women)</b> : U-19, U-22, U-25, U-28
							<ul class="infoListAlphaInn">
								<li><b>Single Soti (Individual)</b> -one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Single Soti (team event)</b> -3 players plays & one extra
									<p>(Medals : Twelve i.e 4 Gold, 4 Silver & 4 Bronze)</p>
								</li>
								<li><b>Farri-Soti (Individual)</b> - one to one fight
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Farri-Soti (team event)</b> - 3 players plays & one extra
									<p>(Medals : Twelve i.e 4 Gold, 4 Silver & 4 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (Individual)</b> -one player displays his skills
									<p>(Medals : Three i.e 1 Gold, 1 Silver & 1 Bronze)</p>
								</li>
								<li><b>Weapon demonstrations (team event)</b> -Three to Five players
									<p>(Medals : Nine/Fifteen i.e 3/5 Gold, 3/5 Silver & 3/5 Bronze)</p>
								</li>
							</ul>
							<p>In one age group of men in six events, the total number of medals count is 48, i.e 16 gold, 16 silver & 16 bronze & in the same age group of women the total number of medals would be 48, i.e 16 gold, 16 silver & 16 bronze. It means in one age group (men & women), the total number of medals would be 96, i.e 32 gold, 32 silver & 32 bronze. Therefore, in six age groups (men & women) in six categories, the total number of medals would be 576, i.e 192 gold, 192 silver & 192 bronze.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area