<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Grading				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Activity', "#" %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Grading', activity_grading_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Grading</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<p>World Gatka Federation (WGF) has decided to recommend yearly grading the Gatka players on their achievements in National/ Inter-Varsity/ Asian/ Commonwealth/ International/World level tournament. A designated committee, duly constituted by the Governing body of WGF/GFUSA shall grade a player upon his/her admission/ participation in a championship. The grade of such player shall be determined by his/her qualifications, achievements or experiences as an amateur Gatkabaaz and proof of such performances to the satisfaction of the Committee. The grade shall only be known as :-</p>
						<ul class="infoListNumber mb-15">
							<li><b>10th Degree</b> : Grand Master</li>
							<li><b>9th Degree</b> : Chief Master</li>
							<li><b>8th & 7th Degree</b> : Master</li>
							<li><b>6th Degree</b> : Chief Instructor</li>
							<li><b>5th & 4th Degree</b> : Instructor</li>
							<li><b>3rd Degree</b> : Deputy Instructor</li>
							<li><b>2nd Degree</b> : Assistant Instructor</li>
							<li><b>1st Degree</b> : Trainee</li>
						</ul>
						<p>And in lieu of or in addition to, such requirements, the Committee shall from time to time determine. The Graded Gatkebaaz shall wear the insignia/badge/belt during ceremonies. The decision of the Grade Committee shall be final.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area