<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					History				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'History', history_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>History</h1>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-md-12">
				<div class="infoContent">
					<div class="aboutBotContent">
						<!-- <h4 class="mb-15">GAMES & SWORD FIGHTING-ANCIENT INDIA</h4> -->
						<p>Ancient India had a rich tradition of games, though mainly played for maintaining physical fitness and leisure. During the ancient times, physical fitness was given prime importance, especially by the kings and the higher-class warriors.</p>

						<p>The existence of the bow & arrow, the dagger, the axe and the mace found during the excavations at Harappa and Mohenjodaro, confirm that during the Indus Valley Civilization these weapons were involved in war and hunting exercises. The weapons of war, for instance, the Javelin (Toran) and the Discus (Chakra), were frequently used in the sports arena. Women, too, excelled in sport and the art of self-defence, and were active participants in games like; stick-fighting, quail-fighting and ram-fighting.</p>
						
						<p>Even the renowned Chinese travellers Hieun-Tsang and Fa-Hien wrote of a variety of sporting activities. Swimming, sword-fighting, running, wrestling and ball games were immensely popular among the students of Nalanda and Takshashila. In Manas Olhas (1135 AD.), Someshwar has written about Bharashram (weight-lifting), Bharamanshram (walking). After the legends, even the Moghul history boasts about such sports, as the Mughal emperors were patrons of hunting and wrestling. Besides this, a large number of regional games were being played right from many centuries in the undivided India. Since ancient times hunting has been part and parcel of Indian warrior tradition.</p>
						
						<p>India is known for its rich cultural heritage and it has wonderful and exclusive tradition of games, which can be played, not only by skilled sports persons, but also by every member of the family during leisure. India has a history of producing many traditional sports that are being played in different parts of India but not known to all, as they are very much restricted to a particular state or region.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-gap info-area">
	<div class="container">
		<!-- <div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Gatka During British Colonial Rule</h1>
				</div>
			</div>
		</div>	 -->				
		<div class="single-info renowned">
			<div class="col-md-12">
				<div class="infoContent">
					<div class="aboutBotContent">
						<p>Gatka is the name of an Indian traditional Sikh martial art associated with the Sikhs history of India and an integral part of an array of Sikh Shastar Vidiya. The present form that further developed in later 19th century, out of sword practice, is divided in two sub-styles, called Rasmi (traditional) and Khel (sport) from the 1920s in the undivided Punjab.</p>

						<p>It is generally at public display during religious processions but Punjab Gatka Association (PGA) and Gatka Federation of India (GFI), both registered bodies, have taken major initiatives to implement this martial art as a sport in the India and worldwide. It’s a humble effort to revive this forgotten and dying art having a historical significance. The Gatka Federation is managing, standardizing, promoting and reviving Gatka as a game in India that was in vogue for self-defence since times immemorial. In order to preserve, promote and showcase the rare Sikh martial art at national & international level, the GFI & PGA is producing a documentary film on Gatka.</p>

						<div class="historyImage mb-15 text-center">
							<img src="/assets/logo.jpg" alt="logo Image">
						</div>

						<p>The GFI, under the aegis of World Gatka Federation has, for the first time, formulated and standardized the in-depth Gatka rules and regulations for playing of Gatka game and providing training to the budding Gatkebaaz through workshops, seminars and camps under the new Gatka rules. The Department of Education, Govt. of Punjab has also incorporated the Gatka game into the Punjab schools, colleges and universities sports calendars on the persistent appeals of GFI & PGA. We are passionately longing from all the States as well as Central Government to award due gradations of Gatka game certificates at par with the certificates of other games.</p>

						<p>It is a style of stick fighting between two or more practitioners, with wooden sticks (called soti) intended to simulate swords. In Gatka, the “Stick” and “Farri” are also used to substitute the sword and shield respectively for practice and safety purposes. When one exponent attacks, the opponent blocks it and then counter-attacks the player. It is a unique art to defend, display fighting skills and exercise self-control which is the best part of the martial art Gatka. It is also meant to enable youth to stay healthy and agile by keeping them away from the menace of drug abuse and other intoxicants to lead a disciplined and pious life.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Gatka before Independence</h1>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-md-12">
				<div class="infoContent">
					<div class="aboutBotContent">
						<p>Sikh Shastar Vidiya and Gatka underwent a period of decline when the Sikh Missal Nawabs (Sikh warriors) after Maharaja Ranjit Singh lost to the British after the introduction of firearms and especially after the full establishment of British colonial rule in the 19th century in India. The British eventually banned Sword, Neja and Gatka and the Sikh custom of carrying swords so as to prevent rebellion and anti-colonial sentiments.</p>

						<p>During this time, many Indian martial arts had to be practiced in secret and were often confined to rural areas. They survived as folk-sports in certain changed patterns by replacing stick instead of sword.</p>

						<p>Gatka is an important part of the anthropological heritage of Sikh Shastar Vidiya and culture and became integral part of Punjabis during Gurus period. Gatka is practised for self-defence and combat fighting skills since antiquity but nowadays it became popular sport in India and accessible to the all communities. Gatka promotion means to uphold national pride and build a strong Nation.</p>

						<p>The influence of Indian martial arts can be found in literature and in the performance arts specific to Asia. Recently, those influences have extended to the movies and television that targets a much wider audience. As a result, martial art Gatka has spread beyond its ethnic roots and has a global appeal.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area