<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Types of Tournaments				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Activity', "#" %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Types of Tournaments', activity_tournaments_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Types of Tournaments</h1>
				</div>
			</div>
		</div>					
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<h4 class="mb-15">SUB-JUNIOR, JUNIOR & SENIOR LEVEL TOURNAMENTS BY THE GATKA ASSOCIATIONS/FEDERATIONS</h4>
						<ul class="infoListNumber">
							<li>Block & District level Gatka tournaments</li>
							<li>Inter-District Gatka tournaments</li>
							<li>Inter-State Gatka championship</li>
							<li>Asian Gatka championship</li>
							<li>Commonwealth Gatka championship</li>
							<li>World Gatka championship</li>
							<li>Veteran Gatka championship at State/National level</li>
							<li>Virsa Sambhal Gatka tournaments at District/State/National level</li>
						</ul>
					</div>

					<div class="aboutBotContent">
						<h4 class="mb-15">SUB-JUNIOR, JUNIOR & SENIOR LEVEL TOURNAMENTS BY THE SGFI/EDUCATION DEPTTS</h4>
						<ul class="infoListNumber">
							<li>Block & District level Gatka tournaments</li>
							<li>Inter-District Gatka tournaments</li>
							<li>Inter-State Gatka championship</li>
							<li>Asian School Gatka championship</li>
							<li>Commonwealth School Gatka championship</li>
							<li>World School Gatka championship</li>
						</ul>
					</div>

					<div class="aboutBotContent">
						<h4 class="mb-15">SENIOR LEVEL TOURNAMENTS BY THE AIU/UNIVERSITIES/COLLEGES</h4>
						<ul class="infoListNumber">
							<li>Inter-College Gatka tournaments</li>
							<li>Inter-University Gatka championship</li>
							<li>World University Gatka championship</li>
						</ul>
					</div>

					<div class="aboutBotContent">
						<h4 class="mb-15">EK ONKAR CHARITABLE TRUST SEECHEWAL, JALANDHAR</h4>
						<ul class="infoListNumber">
							<li>National Ek Onkar Gatka Cup</li>
						</ul>	
					</div>

					<div class="aboutBotContent">
						<h4 class="mb-15">KALGIDHAR EDUCATIONAL TRUST, BARU SAHIB, HP</h4>
						<ul class="infoListNumber">
							<li>Mai Bhago Gatka Cup (State level Women tournament)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area