<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Training and Oath				
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Activity', "#" %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Training and Oath', activity_training_and_oath_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about info Area -->
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Training</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<p>The Gatka Federation of India (GFI) had formulated and standardized in-depth rules and regulations for playing of Gatka game in the year 2009 to provide training to the budding Gatkebaaz by organising workshops, seminars and coaching camps free of cost under these rules. In this regard all state Gatka Associations have been conducting proper training camps for the aspiring students studying in upper schools, technical, medical and polytechnics to prepare schools, colleges and university Gatka teams for school Gatka games and inter-varsity Gatka championships.</p>

						<p>To tone up the skills of martial art and impart proper basics coaching to the Gatkebaaz, the Gatka Federation and its affiliated state units (Gatka Associations) also organises weeklong free special Gatka summer camps in the states and districts by deputing only certified coaches of GFI. To acustomise and educate the players, the GFI will conduct Gatka camps in other countries. One camp had been successfully organised in Kathmandu (Nepal).</p> 

						<p>The GFI had also organised eight district level, five State level and four National level Gatka training camps-cum-seminars and workshops to impart exhaustive training to the Gatka players as officials. Besides this, GFI would also establish specialised Gatka Training Centres (GTCs) in all the States to give impetus to training and coaching.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Oath of Discipline</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<h4 class="mb-15">OATH OF DISCIPLINE</h4>
						<p>At the start of each official Gatka Championship, every Gatka player promises to play fairly and obey all of the rules, regulations and conditions of tournament and Gatka Federation of India. One Gatkebaaz from the host District/State/Country takes this oath at the opening ceremonies on behalf of all Gatka competitors. The chosen Gatka player holds a corner of the Gatka Federation/Gatka Association’s Flag while repeating the oath.</p>
					</div>
					<div class="aboutBotContent">
						<h4 class="mb-15">PLAYER’S OATH</h4>
						<p>In the name of all Gatka competitors, I swear that we will take part in the first National Ek Onkar Gatka Cup in loyal competition, respecting and abiding by the rules, regulations and conditions which govern this tournament, committing ourselves to a sport without doping and without drugs, and desirous of participating in the national event in the true spirit of sportsmanship and standards of discipline, for the honour of our Nation and for the glory of Gatka sport.</p>
					</div>
					<div class="aboutBotContent">
						<h4 class="mb-15">REFEREES, JUDGES AND OFFICIAL’S OATH</h4>
						<p>In the name of all Referees, Judges and officials, I swear that we will officiate in the first National Ek Onkar Gatka Cup with complete impartiality, respecting and abiding by the rules which govern this tournament, in the true spirit of sportsmanship.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Seven Oaths</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<p>WGF's "SEVEN OATHS" for the Gatka trainees/practitioners are :-</p>
						<ul class="infoListNumber">
							<li>A Gatka trainee may not abandon his training half-way through.</li>
							<li>He will use Gatka skills only for self-defence and remain humble as God fearing Gatka practitioner.</li>
							<li>He must honour and respect his Ustads, Teachers, seniors, women and elders.</li>
							<li>He will always remain loyal to WGF/affiliated National Gatka Federations/State/Regional Gatka Associations, obey their Rules Books, their regulations and conditions.</li>
							<li>He will refrain from consuming intoxicants, alcohol, tobacco, drugs, meat etc.</li>
							<li>He will teach art of Gatka to those with gentle, wilful and compassionate personalities for promotion of Gatka.</li>
							<li>The purpose of his Gatka studies and training should not in any way aim for wealth or fame in life. His primary aspiration will always be to serve his country and faith.</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-gap info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Modernization in Management</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<p>The GFI has planned to upgrade and modernize the playing and management of Gatka tournaments by using latest information technology techniques, gadgets and other infrastructure so that game management modernisation could enable and demonstrate entry of Gatka at international competitions. The planning includes :</p>
						<ul class="infoListNumber">
							<li>Scoreboard and stop watch to display live judgement information to spectators.</li>
							<li>Computerised entries of players and officials and to declare instant results and its proper record maintain.</li>
							<li>Match/bout replay facility on LCDs.</li>
							<li>Installation of HD video cameras for live telecast in stadium & webcasting.</li>
							<li>Wooden Gatka sticks to be replaced by fibre sticks embedded with sensors & micro- chips for quick scoring and fouls.</li>
							<li>Smart identity cards with unique ID number and bar coding/QR coding to maintain detailed information of players & officials.</li>
							<li>Computerised national & international grading and ranking of players & officials.</li>
							<li>Sports certificates embedded with holograms and bar coding.</li>
							<li>Synthetic Gatka grounds with pre demarcation of ground/field boundaries and lines.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-gap about-area info-area">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-10">
				<div class="title text-center">
					<h1>Scholarships</h1>
				</div>
			</div>
		</div>				
		<div class="single-info row mt-40">
			<div class="col-md-12	">
				<div class="infoContent">
					<!-- <h2 class="pb-30">Few words about our Federation</h2> -->
					<div class="aboutBotContent">
						<h4 class="mb-15">SMART BOARD</h4>
						<p>To enrich the historical literature on Sikh martial art, Punjab Gatka Association, under the patronage of Gatka Federation of India, had already constituted a Sikh Martial Art Research and Training Board (SMART Board) to award needed scholarships to the aspiring research scholars who intends to pursue Ph.D or higher study in the field of martial art, especially on Gatka. Known academicians and prominent personalities have been included into the SMART Board to substantiate and acknowledge the proposed research projects. After assessing the advice of board, the WGF/GFUSA would deposit requisite installments of approved scholarship in the bank account of beneficiary on monthly/half-yearly/yearly basis as the case may be. In this regard, letters have been sent to all the Vice Chancellors of Universities of Punjab State.</p>
						<p>World Gatka Federation/Gatka Federation USA (WGF/GFUSA) also supporting needy students in various schools, colleges & in Universities, especially in Punjabi University Patiala pursuing their higher studies in the campus. Besides this, the WGF/GFUSA  also decided to offer grants needed for printing costs to the literati aspiring to publish their research books/literature on Sikh martial art. The WGF/GFUSA also distributes Gatka playing kits free of cost to the needy trainees through out US & in other countries as per need & request.</p>
						<p>The Gatka organisations calls upon to the society, well-wishers, sympathizers and advertisers to earnestly support and promote this altruistic cause for the sake of Indian martial art having a historical significance. Join us in our philanthropic efforts for the sake of martial art Gatka by aiding and supporting us in various ways.</p>
						<p>For more information you can log on websites :</p>
						<p>Please create new one/fill updated one)<br>
						www.blog.gatkafederationusa.com<br>
						or mail your comments/suggestions on<br>
						worldgtakfederation@gmail.com, gatkafederationUSA@gmail.com<br>
						or dial + 917 257 1706, +917 291 3445</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about info Area