<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Our Gallery			
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Gallery', '#' %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Images', gallery_images_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->	


<!-- Start gallery Area -->
<section class="gallery-area section-gap gallery-page-area" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Gallery Images</h1>
					<p>Lets Play Gutka</p>
				</div>
			</div>
		</div>						
		<div id="grid-container" class="row">
			<a class="single-gallery" href="/assets/g1.jpg"><img class="grid-item" src="/assets/g1.jpg"></a>
			<a class="single-gallery" href="/assets/g2.jpg"><img class="grid-item" src="/assets/g2.jpg"></a>
			<a class="single-gallery" href="/assets/g3.jpg"><img class="grid-item" src="/assets/g3.jpg"></a>
			<a class="single-gallery" href="/assets/g4.jpg"><img class="grid-item" src="/assets/g4.jpg"></a>
			<a class="single-gallery" href="/assets/g5.jpg"><img class="grid-item" src="/assets/g5.jpg"></a>
			<a class="single-gallery" href="/assets/g6.jpg"><img class="grid-item" src="/assets/g6.jpg"></a>
			<a class="single-gallery" href="/assets/g7.jpg"><img class="grid-item" src="/assets/g7.jpg"></a>
			<a class="single-gallery" href="/assets/g8.jpg"><img class="grid-item" src="/assets/g8.jpg"></a>
			<a class="single-gallery" href="/assets/g9.jpg"><img class="grid-item" src="/assets/g9.jpg"></a>
			<a class="single-gallery" href="/assets/g1.jpg"><img class="grid-item" src="/assets/g1.jpg"></a>
			<a class="single-gallery" href="/assets/g2.jpg"><img class="grid-item" src="/assets/g2.jpg"></a>
			<a class="single-gallery" href="/assets/g3.jpg"><img class="grid-item" src="/assets/g3.jpg"></a>
		</div>	
	</div>	
</section>
<!-- End gallery Area -->