<!-- start banner Area -->
<section class="banner-area relative" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Our Gallery			
				</h1>	
				<p class="text-white link-nav"><%= link_to 'Home', home_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Gallery', '#' %> <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Videos', gallery_videos_path %></p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->	


<!-- Start gallery Area -->
<section class="gallery-area section-gap gallery-page-area" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-30 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Gallery Videos</h1>
				</div>
			</div>
		</div>						
		<div id="grid-container-video" class="row">
			<% @gallery_videos.each do |video| %>
				<div class="single-gallery-video">
					<%= video.embedUrl %>
				</div>
			<% end %>
		</div>	
	</div>	
</section>
<!-- End gallery Area -->